.h-works-container {
  margin-top: 5.35rem;
  margin-left: 9.3rem;
}

.h-works-container h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.h-works-container p {
  width: 75.8%;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 150%; /* 1.875rem */
  margin-bottom: 2.6rem;
}

.button-box {
  margin-bottom: 1.4rem;
  margin-left: 8rem;
  width: 25rem;
  height: 3.3rem;
  background: rgb(98, 42, 42);
  border-radius: 7.5rem;
  background: #fff; 
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

/* .engr-btn {
    margin-bottom: rem;

} */

/* .clients-btn {

}  */
